body {
	background-color:#ffc;
	background-image:url(../images/brown.gif);
	background-repeat:repeat-y;
	margin:0 auto auto 0;
	font-family:"Times New Roman", Times, serif;
	}
img {border:0;}	
h1, h2, h3, h4, h5, h6 {
	color:#630;
	}
#pagewrapper {
	margin:0 auto auto 0;
	width:600px;
	}
#stripe_banner	{
	margin:0;
	padding:0;
	}
#stripe_banner img {
	margin:0;
	padding:0;
	}
#stripe_banner form {
	position:absolute;
	top:10px;
	left:400px;
	}	
#primary_nav {
	background-color:#963400;
	color:#ffc;
	padding:5px;
	margin:2px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	margin-bottom:0;
	text-align:center;
	}
#primary_nav ul {
	padding:2px;
	margin:0;
	border:0;
	line-height:200%;
	}	
#primary_nav li {
	display:inline;
	list-style-type:none;
	padding:2px;
	}
#primary_nav a, #primary_nav a:link, #primary_nav a:active, #primary_nav a:visited, #primary_nav a:hover {
	text-decoration:none;
	color:#ffc;
	padding:2px;
	white-space:nowrap;
	}
#primary_nav a:hover {
	color:#fff;
	background-color:#960017;
	}			
#secondary_nav {
	float:left;
	width: 144px;
	text-align:right;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	}	
#secondary_nav a, #secondary_nav a:link, #secondary_nav a:active, #secondary_nav a:visited, #secondary_nav a:hover {
	display:block;
	border-right:17px solid #963400;
	border-bottom:1px solid #963400;
	text-decoration:none;
	color:#ffc;
	padding:5px 10px 5px 5px;
	}
#secondary_nav a:hover {	
	border-right-color:#960017;
	border-bottom-color:#960017;
	background-color:#98332f;
	color:#fff;
	}
#secondary_nav a.subnav {
	margin-left:6px;
	border-right-width:23px;
	}	
#right_column {
	position:relative;
	margin-left:155px;
	padding:10px;
	}	
#footer {
	text-align:center;
	font-size:11px;
	border-top:1px dotted #000;
	}	
.form_textbox {
	border:2px solid #963400;
	}
.dropcap {
	font-size:200%;
	color:#510000;
	font-weight:bold;
	}
#cse .cse .gsc-control-cse, #cse .gsc-control-cse {background-color: #FFFFCC; }	