body {
  margin: 0;
  padding: 0;
  text-align: center;
  background: #ffc;
  font-family: verdana, arial;
  font-size: 11px;
}

#contain {
  width: 800px;
  margin: 0 auto 0 auto;
  text-align: left;
}

#top {
  width: 800px;
  height: 100px;
}

#search_box_top {
  position: absolute;
  top: 30px;
}

#search_box_left {
  position: relative;
  left: 588px;
}

#nav {
  background: #b8a16e;
  padding: 10px 0 5px 0;
}

#nav ul {
  padding: 0;
  margin: 0;
}

#nav li {
  list-style-type: none;
  display: inline;
}

#nav li a {
  text-decoration: none;
  font-weight: bold;
  font-size: 10px;
  color: #ffc;
  padding: 10px 10px 5px 10px;
}

#nav li a:hover {
  padding: 10px 10px 5px 10px;
  background: #98672f;
  color: #ffc;
}

#nav li a#on {
  background: #98672f;
  color: #ffc;
}

.margins {
  margin: 0 10px;
}

#content {
  text-align: left;
  padding: 15px 0;
  background: #ffc;
  color: #744e23;
  line-height: 17px;
}

#content p {
  padding: 0;
  margin: 0 0 10px 0;
}

#content p.header {
  font-weight: bold;
  margin-bottom: 15px;
}

#content p.headerInText {
  font-weight: bold;
  margin-bottom: 10px;
}

#content p.indent {
  padding: 0;
  margin: 0 0 10px 15px;
}

#copyright {
  padding: 5px 0 20px 0;
  background: #ffc;
  color: #98672f;
}

#copyright p {
  padding: 0;
  margin: 0;
}

.home_left {
  float: left;
  width: 465px;
  height: 460px;
}

.home_right {
  height: 460px;
}

.browse_container {
  padding-bottom: 15px;
  width: 195px;
}

.search_criteria {
  padding-bottom: 5px;
  padding-left: 10px;
}

.search_button {
  margin-bottom: 25px;
  padding-left: 10px;
}

.search_image {
  padding-bottom: 15px;
  vertical-align: top;
}

.search_text {
  padding-bottom: 15px;
  padding-left: 15px;
  vertical-align: top;
}

.thumb {
  margin-right: 5px;
}

.letter_left {
  width: 415px;
}

.map_left {
  width: 415px;
}

.photograph_left {
  width: 415px;
}

.printed_work_left {
  width: 615px;
}

.business_record_left {
  width: 415px;
}

.spacing {
  margin-bottom: 10px;
}

a { text-decoration: underline; color: #98672f; }
a:hover { color: #126062; }

img {
  border: 0;
}

input.search {
  background: #ffc;
  width: 140px;
  font-size: 10px;
  padding: 3px 3px;
  height: 20px;
  border-top: solid 1px #b8a16e;
  border-right: solid 1px #ffc;
  border-bottom: solid 1px #ffc;
  border-left: solid 1px #b8a16e;
}

input.search2 {
  width: 200px;
  padding: 3px 3px;
  border-top: solid 1px #744e23;
  border-right: solid 1px #b8a16e;
  border-bottom: solid 1px #b8a16e;
  border-left: solid 1px #744e23;
}

select.search2 {
  padding: 2px 2px;
  margin-right: 5px;
  border-top: solid 1px #b8a16e;
  border-right: solid 1px #b8a16e;
  border-bottom: solid 1px #b8a16e;
  border-left: solid 1px #b8a16e;
}

input.searchGo {
  font-size: 10px;
}

td {
  vertical-align: top;
  font-family: verdana, arial;
  font-size: 11px;
  line-height: 17px;
  color: #744e23;
}


.sic {
	color: #009900;
}
