body {
	background-color:#ffc;
	background-image:url(../images/brown.gif);
	background-repeat:repeat-y;
	margin:0 auto auto 0;
	font-family:"Times New Roman", Times, serif;
	}
img {border:0;}	
#pagewrapper {
	margin:0 auto auto 0;
	width:600px;
	}
#stripe_banner	{
	margin:0;
	padding:0;
	}
#stripe_banner img {
	margin:0;
	padding:0;
	}	
#primary_nav {
	background-color:#963400;
	color:#ffc;
	padding:5px;
	margin:2px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	margin-bottom:0;
	text-align:center;
	letter-spacing:0.5px;
	}
#primary_nav ul {
	padding:5px;
	margin:0;
	border:0;
	line-height:200%;
	}	
#primary_nav li {
	display:inline;
	list-style-type:none;
	padding:5px;
	}
#primary_nav a, #primary_nav a:link, #primary_nav a:active, #primary_nav a:visited {
	text-decoration:none;
	color:#ffc;
	padding:5px;
	white-space:nowrap;
	}
#primary_nav a:hover {
	color:#fff;
	background-color:#960017;
	padding:5px;
	white-space:nowrap;
	}		
#secondary_nav {
	float:left;
	width: 144px;
	text-align:right;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	}	
#secondary_nav a, #secondary_nav a:link, #secondary_nav a:active, #secondary_nav a:visited, #secondary_nav a:hover {
	display:block;
	border-right:17px solid #963400;
	border-bottom:1px solid #963400;
	text-decoration:none;
	color:#ffc;
	padding:5px 10px 5px 5px;
	}
#secondary_nav a:hover {	
	border-right-color:#960017;
	border-bottom-color:#960017;
	background-color:#98332f;
	color:#fff;
	}
#right_column {
	position:relative;
	margin-left:155px;
	padding:10px;
	}	
#footer {
	text-align:center;
	font-size:11px;
	}	


.search_row_off {
	background-color: #FFFFFF;
}

.search_row_on {
	background-color: #CCCCCC;
}
